@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url("animation.css");
@import url("variables.css");
html {
    scroll-behavior: smooth;
}
body {
    color: black;
    margin: 0;
    padding: 0;
    font-family: "Noto Sans";
}
img {
    width: inherit;
    height: inherit;
    object-fit: cover;
}
/* The thing */
.home p{
    position: absolute;
    left: 50%;
    top: 50%;
    translate: -50% -50%;
}
.home {
    width: 400%;
    height: 400%;
    left: 50%;
    top: 50%;
    translate: -50% -50%;
    position: relative;
}
.home div[class^="bg"] {
    position: absolute;
    background-size: contain;
    width: 2500px;
    height: 2500px;
    left: 50%;
    top: 50%;
    translate: -50% -50%;
}
.bg-1 {
    background-image: url("images/bg/1.png");
    /* animation: rotate 4s infinite linear; */
}
.bg-2 {
    background-image: url("images/bg/2.png");
    /* animation: rotate 7s infinite linear; */
}
.bg-3 {
    background-image: url("images/bg/3.png");
    /* animation: rotate 6s infinite linear; */
}
.bg-4 {
    background-image: url("images/bg/4.png");
    /* animation: rotate 5s infinite linear; */
}
/* Main */
.best, .paul {
    height: 100vh;
}
.row {
    height: 100%;
}
.main-con {
    border: none;
    height: 100%;
    margin-left: 270px;
    transition: all 0.4s ease-in-out;
}
.side-nav-con {
    position: relative;
}
.side-nav {
    padding: var(--page-padding);
    height: calc(100vh - 15px);
    position: fixed;
    width: 240px;
    border: 1px solid black;
    transition: all 0.4s ease-in-out;
    background-color: white;
}
.homent {
    height: 100%;
    display: none;
    flex-direction: column;
}
.side-nav > p {
    font-size: 1.5rem;
}
.nav-title {
    font-size: 4rem;
    margin-bottom: 0;
}
.btn-list {
    margin-top: auto;
}
.side-nav button {
    margin-bottom: 10px;
    height: 40px;
    border-radius: 20px;
    width: 100%;
    background-color: white;
    font-size: 1.5rem;
    transition: all 0.1s ease-in-out;
}
.side-nav button:hover {
    background-color: #FFDC19;
}
nav {
    display: flex;
    flex-direction: column;
}
nav a {
    margin: 6px !important;
    color: black;
    text-decoration: none;
}
nav a:hover {
    text-decoration: underline;
}
div[class^="page"]{
    padding: var(--page-padding);
    height: calc(100vh - 2 * var(--page-padding));
}
/* Page 1 */
.page-1 {
    border: 1px solid black;
    display: grid;
    grid-template-rows: 40% 60%;
}
.page-1 > .top {
    display: grid;
    grid-template-columns: 70% 30%;
}
.page-1 > .top > .right {
    display: flex;
    justify-self: center;
    align-items: center;
}
.greeting > h1 {
    font-size: 4rem;
    margin-bottom: 0;
}
.greeting > p {
    font-size: 1.5rem;
}
.profile-image {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    overflow: hidden;
}
.proj-showcase {
    border: 1px solid black;
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.proj-showcase > p {
    z-index: 1;
    position: absolute;
    display: none;
    color: white;
    left: 50%;
    top: 50%;
    translate: -50% -50%;
}
.proj-showcase > .black-block {
    width: 100%;
    height: 100%;
    z-index: 0;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.0);
}
.proj-showcase:hover > p{
    font-size: 1.5rem;
    display: block;
}
.proj-showcase:hover > img{
    display: block;
}
.proj-showcase:hover > .black-block{
    background-color: rgba(0, 0, 0, 0.35);
}
/* Page 2 */
.page-2 {
    height: auto !important;
}
div[class^="contact-"] {
    margin-top: 40px;
}
.contacts p {
    margin: 0;
    font-size: 1.7rem;
    font-style: italic;
}
.contacts a {
    color: black;
    font-size: 3rem;
    text-decoration: none;
}
.social-image {
    width: 400px;
    height: 200px;
}
/* page 3 */
.games {
    height: 100%;
    display: grid;
    grid-template-rows: 80% 20%;
}
.games .top {
    display: flex;
    flex-wrap: wrap;
    /* display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr; */
}
.games .top div[class^="game-"]{
    padding: 5px;
}
div[class^="game-"] .image-container {
    width: 400px;
    height: 250px;
}
.games p {
    font-size: 1.7rem;
}